[submodule "inputs/dotfiles"]
	path = inputs/dotfiles
	url = ssh://forgejo@git.yumeami.sh/c4patino/dotfiles.git
[submodule "inputs/yumevim/lua"]
	path = inputs/yumevim/lua
	url = ssh://forgejo@git.yumeami.sh/c4patino/yumevim.git
[submodule "inputs/yumevim/nix"]
	path = inputs/yumevim/nix
	url = ssh://forgejo@git.yumeami.sh/c4patino/yumevim-nix.git
