[submodule "inputs/dotfiles"]
	path = inputs/dotfiles
	url = https://git.cpatino.com/c4patino/dotfiles.git
[submodule "inputs/yumevim-nix"]
	path = inputs/yumevim-nix
	url = https://git.cpatino.com/c4patino/yumevim-nix.git
